body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
}

.hero {
  /* Sizing */
  width: 100vw;
  height: 90vh;

  color: white;
  
  /* Flexbox stuff */
  display: flex;

  /* Text styles */
  text-align: left;

   /* Background styles */
   background-image: url(../assets/img/bg-img.png);
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

.hero h1 {
   margin-top: 0;
   margin-bottom: 0.5em;
   font-size: 29px;
   font-weight: 600;
   font-style: normal;
  font-stretch: normal;
  line-height: 38px;
  letter-spacing: normal;
}
#hero-container{
  margin-left: 90px;
  margin-right: 90px;
}
#logo{
    width: 93px;
    height: 35px;
    margin: 0;
    position: relative;
}

#tagline {
  margin-top: 300px;
  margin-left: 0;
  padding-left: 0
}

#phone-mockup-hero img{
  margin-top: 150px;
  margin-bottom: 150px
}

#section-1 {
  margin-top: 100px
}

h2{
  font-size: 30px;
  font-weight: bold;
  color: #343a40
}

p{
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #727272;
}
#feature-desc{
  padding-right: 200px;
  padding-left: 200px
}

/* #omfg{
  position: absolute
} */

#image-center{
  z-index: 3;
  position: relative;
  align-items: center !important;
  justify-content: center !important;

}

#image-left img{
  position: absolute;
  display:flex;
  align-items: center !important; 
  justify-content: center !important;
  margin-top: -455px;
  margin-left: 50px;
}

#image-right img{
  position: absolute;
  display:flex;
  align-items: center !important; 
  justify-content: center !important;
  margin-top: -455px;
  margin-left: 600px;
}


