body.dark-mode {
  background-color: #111;
  color: #eee;}

  body.dark-mode, .hero a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  body.dark-mode button {
    background-color: #eee;
    color: #111;
  }


body.light-mode {
  background-color: white;
  color: #111;}
  
body.light-mode, .hero a {
  color: white;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  }
body.light-mode button {
    background-color: #111;
    color: #eee;
  }
